assets
record.js
saveSkinParams.js
assets_4
assets_3_8

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
localStorage.json
node_modules
转换后_dynamicSkin.js
十周年ui动皮自动生成参数.js
live2d_assets

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*